.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.options {
    display: flex;
}

.speed_option {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.speed_option input {
    margin-right: 5px;
}
